* {
    font-family: 'Glacial Indifference Regular', Arial, sans-serif;
    /*background-color: #EEEEEE;*/
}

@font-face {
    font-family: 'Glacial Indifference Regular';
    src: url('assets/police/ClacialIndifference-Regular.otf') format('truetype');
}
     
.en-tete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #053B50;
    padding: 10px;
}

.logo,
.hamburger,
.search,
.clear,
.mail,
.compte {
    width: 50px;
    height: 50px;
}

.hamburger {
    cursor: pointer;
    color: #EEEE;
}

.search-container {
    display: flex;
    align-items: center;
}

.btn-search,
.btn-clear,
.btn-mail,
.btn-compte {
    background-color: transparent;
    border: none;
}

.btn-search,
.btn-clear {
    background-color: #053B50;
}

.search,
.clear {
    margin: 0 10px; /* Ajoute de l'espace entre la loupe et l'effacement */
}

.site-search {
    width: 200px; /* Ajustez la largeur de la barre de recherche selon vos besoins */
}

