.info-container {
    max-width: 800px;
    margin: 50px auto 50px auto;
    text-align: center;
}

.info {
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* titre de infoPer */
.titre-info{
    background-color: #64CCC5;
    color: #333;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 8px;
    font-size: 24px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
