/* Général */

@font-face {
    font-family: 'Glacial Indifference Regular';
    src: url('assets/police/ClacialIndifference-Regular.otf') format('truetype');
}

* {
    font-family: 'Glacial Indifference Regular', Arial, sans-serif;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEEEEE;
}

a {
    text-decoration: none;
    color: #EEEEEE;
    margin: 15px;
    line-height: 0.70cm;
}

a:hover {
    color: #176B87;
}

h1{
    color: #053B50;
    padding: 30px;
}

p {
    margin: 15px;
    line-height: 0.70cm;
    text-align: justify;
}

/* Header */
     
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #053B50;
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.logo,
.compte {
    width: 50px;
    height: 50px;
}

.mail {
    width: 70px;
    height: 50px;
}

.logo,
.openBtn {
    justify-content: left; 
}

.search__container {
    flex: 0 0 500px;
    display: flex;
    justify-content: center;
}

.btn-mail,
.btn-compte {
    justify-content: right;
}



/* Menu */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: #176B87;
    padding-top: 60px;
    transition: left 0.5s ease;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #EEEEEE;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #053B50;
}
  
.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.sidenav.active {
    left: 0;
}
  
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #EEEEEE;
    margin: 6px 0;
}

.btn-mail,
.btn-compte {
    cursor: pointer;
    background-color: transparent;
    border: none;
}


/* Barre de recherche */

.search__input {
    width: 100%;
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
    color: #176B87;
    background-color: #EEEEEE;
    background-image: url(../assets/imgs/loupe.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 2px solid #176B87;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: #176B87;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    color: #EEEEEE;
    background-color: transparent;
    border: 2px solid transparent;
    border-bottom: 1px solid #176B87;
    border-radius: 0;
    background-position: 100% center;
}


/* Footer */

footer {
    background-color: #053B50;
    color : #EEEEEE;
    display: flex;
    justify-content: center;
    align-content: space-between;
    height: auto;
}

.col1-foot {
    height: auto;
    width: 750px;
    padding: 20px; 
}

.col2-foot {
    height: auto;
    width: 750px;
    padding: 20px;
}

.contact-foot {
    margin: 15px;
    line-height: 0.8cm;
}

.img-tel-foot {
    height: 40px;
    width: 40px;
}

.img-mail-foot {
    height: 40px;
    width: 60px;
}

.contact-foot a img {
    height: 40px;
    width: 40px;
}


/* Accueil */

.box-prez {
    display: flex;
    justify-content: center;
    align-content: space-between;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.col1-prez {
    background-color: #176B87;
    color : #EEEEEE;
    height: auto;
    width: 768px;
    padding: 20px;
}

.col2-prez {
    background-color: #053B50;
    color : #EEEEEE;
    height: auto;
    width: 768px;
    padding: 20px;
}